
body {
	font-family: 'Roboto', sans-serif;
	background-color: #F1EEEE;
}
#header {
	background-color: #FF8000;
}
#logo {
	padding: 0;
	width: 100%;
}
nav{
	background-color: #FFFFFF;
}

/*nav.navbar.navbar-expand-lg {
    height: 35px;
    }*/
/*nav .navbar-nav li a{
  color: white !important;
  }*/
  .nav-link{
  	font-size: 16px;
  	color: #FF8000 !important;
  }
  .textAzul{
  	font-size: 12px;
  	color: #5F9BF5 !important;
  }
  .tituloAzul{
  	font-size: 18px;
  	color: #FFFFFF;
  	background-color: #5F9BF5;
  	border-radius: 12px;
  	text-align: center;
  }
  .card {
  	border-radius: 12px;
  	border: 0;
  	height: 286px;
  }

  img.card-img-top {
  	/* height: 120px; */
  	justify-content: center;
  	justify-items: center;
  	width: 100%;
  }

  div#contentIzquierda {
  	/* margin-left: 0; */
  	/* padding-left: 0; */
  }
/*// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)*/
@media (max-width: 479px) { 
	#tituloDerecha{
		display: none;
	}
	#contentIzquierda{
		display: none;
	}
	#logo {
		flex: 75%;
		max-width: 75%;
	}
	#footer {
		margin-top: 10px;
	}
	.buscador.container {
		margin-top: 5px;
	}
}
@media (min-width: 480px) { 
	#tituloDerecha{
		display: none;
	}
	#contentIzquierda{
		display: none;
	}
	#logo {
		flex: 75%;
		max-width: 75%;
	}
	#footer {
		margin-top: 10px;
	}
	.buscador.container {
		margin-top: 5px;
	}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	#contentIzquierda{
		display: block;
	}
	p.card-text {
		/* margin: 10px; */
		overflow: hidden;
		height: 37px;
	}
	.card-block {
		height: auto;
	}
	.card {
		height: auto;
	}
	p.desarrollador {
		float: right;
		
	}
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 


}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1024px) {
	a.carrito.navbar-brand {position: absolute;right: 20px;}
}



#tituloDerecha h1{
	color: #F6F2F2;
	font-size: 36px;

}
.menu.row {
	background-color: #FFFFFF;
	margin-top: 7px;
	margin-bottom: 7px;
	/*height: 35px;*/
}

#footer {
	color: #FFFFFF;
	background-color: #5F9BF5;
}

#basicSelect img,
#basicSearch img {
	height: 24px;
}

#basicSelect,
#basicSearch {
	width: 40px;
	background-color: rgba(255, 255, 255, 0.5);
	border-color: #5F9BF5;
	display: flex;
	justify-content: center;
}

.tituloOrange {
	color: #F6F2F2;
	background-color: #FF8000;
	border-radius: 12px;
	text-align: center;
	height: 30px;
}

.row .carousel2{
	margin-top: 7px;
	background-color: #FFFFFF;
	margin-left: 0;
	margin-right: 0;
	border-radius: 12px;
}




p.card-text {
	/* margin: 10px; */
	/* overflow: hidden; */
	/* height: 100px; */
}

.row.tituloAzul {
	padding: 0;
	margin: 0;
	height: 30px;
	display: flex;
	justify-content: space-between;
}

.carousel-inner {
	border-radius: 12px;
	/*height: 245px;*/
}

.row.carousel2 {}

.col-md-12.contenedorCarousel {
	padding: 0;
}

.buscador.container {
	padding-left: 0;
	padding-right: 0;
	background-color: #FFFFFF;
	height: 100%;
	border-radius: 12px;
}

.col-md-3.contBuscador {
	padding: 0;
}

.card-block {
	font-size: 12px;

}

.card-block {
	margin-left: 10px;
	margin-right: 10px;
}

a.btn.ver-mas {
	float: right;
}

.centrar-imagen {
	/* justify-items: center; */
}

.centrar-imagen {display: flex;justify-content: center;}

.col-md-8 {}

.col-md-8.titulo {
	display: flex;
}



h5.subtitulo {
	margin-left: 25%;
}



h5.vermas {
	margin-right: 5%;
}


.input-group {
	margin: 15px;
	width: 85%;
}

input.form-control {
	border-color: #5F9BF5;
	border-radius: 12px;
}


select.custom-select {
	border-color: #5F9BF5;
	border-radius: 12px;
}

select.custom-select {}

input.form-control::placeholder {
	color: #5F9BF5;
	font-weight: bold;
}

select.custom-select {
	color: #5F9BF5;
	font-weight: bold;
}
img.social-icono {
	height: 24px;
	color: #FFFFFF;
}
address {
	margin-bottom: 0;
}
p.marca {
	margin-bottom: 0;
}
p.desarrollador {
	
margin-bottom: 0;
	
font-size: small;
	
color: #707070;
}